@import url('fonts.css');

body {
    font-family: 'Geist Sans', sans-serif !important;
    background: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #323232;
    background: linear-gradient(180deg, #000000, #181818);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__title {
    margin-left: 20px;
    font-size: 24px;
    background: -webkit-linear-gradient(280deg,#ffffff, #4d4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__nav {
    display: flex;
    gap: 2rem;
}

.header__link {
    color: #8a8a8a;
    text-decoration: none;
    font-size: 16px;
}

.header__link:hover {
    color: #fff;
}

.header__auth {
    margin-right: 20px;
}

.header__button {
    background-color: #fff;
    border: none;
    color: #222;
    font-size: 1rem;
    font-family: "Geist Sans", sans-serif;
    border-radius: 0.5rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__button:hover {
    background-color: #444444;
    color: #fff;
}

.container {
    position: relative;
    top: 5rem;
    text-align: center;
    max-width: 1200px;
    margin: 50px 0;
    padding-bottom: 80px;
    z-index: 1;
}

.container:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*background: linear-gradient(180deg, #000000, #181818);*/
    z-index: -1;
}

.container__title {
    font-size: 55px;
    margin: 20px 0;
    color: #ffffff;
}

.container__description {
    font-size: 18px;
    font-family: "Geist Sans", sans-serif;
    color: #bbb;
    margin: 20px 0;
}

.container__button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    font-family: "Geist Sans", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #222;
}

.container__button:hover {
    background-color: #444444;
    color: #fff;
    cursor: pointer;
}

.container__button.container__button--view-docs {
    background: transparent;
    color: white;
}

.code-container {
    background: radial-gradient(#444444, #000000);
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 25px 0 0 0;
    width: 100%;
    max-width: 960px;
    margin: 80px auto 0 auto;
}

.code-container__tabs {
    display: flex;
    justify-content: start;
    border-radius: 5px;
    gap: 0.5rem;
    padding: 0 10px;
}

.code-container__tab {
    background-color: #121212;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #323232;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.code-container__tab--active {
    color: #d2d2d2;
    background: radial-gradient(circle, #2f2f2f, #121212);
}

.code-container__icon {
    font-size: 20px;
    filter: grayscale(100%);
}

.code-container__content {
    position: relative;
    background: linear-gradient(180deg, #191919, #000000);
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
}

.code-container__code {
    display: none;
    background-color: transparent !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.code-container__code--active {
    display: block;
}

pre[class*="language-"] {
    background: transparent;
    padding: 0;
    margin: 0;
}

.code-container__content pre[class*="language-"] {
    padding: 10px;
    border-radius: 5px;
}

/*LINE NUMBERS*/

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #4f4f4f;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
/*FOOTER*/
.footer {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.footer__inner {
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 5rem;
}

@media screen and (min-width: 768px) {
    .footer__inner {
        margin-top: 1rem;
        overflow-y: hidden;
        height: 155px;
    }
}

.footer__inner span {
    font-size: 15vw;
    font-weight: bold;
    letter-spacing: -0.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    background: linear-gradient(to right, #404040, #212121);
    background-clip: text;
    color: transparent;
}

.footer__inner span.animate {
    opacity: 0.75;
    transform: translateY(0);
}

@keyframes fall {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    }
    10% {
        opacity: 0.75;
    }
    100% {
        transform: translateY(110vh);
        opacity: 0;
    }
}

.star {
    position: fixed;
    top: -10vh;
    width: 1px;
    height: 100px;
    background: linear-gradient(to bottom, transparent, white, transparent);
    opacity: 0;
    animation: fall 3s linear infinite;
}

@keyframes twinkling {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.star::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background: linear-gradient(to top, white, white, transparent);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: twinkling 4.5s infinite;
}

.copy-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    color: #3b3b3b;
    z-index: 2;
}

.copy-icon:hover, .fa-copy:hover {
    color: #828282;
    cursor: pointer;
}

button.container__button--view-docs::before,
button.container__button--view-docs::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #3f3f3f;
}

button.container__button--view-docs span::before,
button.container__button--view-docs span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: #a4a4a4;
}

button.container__button--view-docs:hover::before,
button.container__button--view-docs:hover::after {
    width: 100%;
}

button.container__button--view-docs:hover span::before,
button.container__button--view-docs:hover span::after {
    height: 100%;
}

button.container__button--view-docs::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button.container__button--view-docs span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

button.container__button--view-docs::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

button.container__button--view-docs span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}

button.container__button--view-docs {
    display: flex;
    align-items: center;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 0;
    background: #1A2929;
    font-family: 'Geist Sans', sans-serif;
}

button.container__button--view-docs span {
    display: block;
    padding: 2px 10px;
}

.container__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: auto
}